/Library
/Logs
/obj
/Build
/Temp
/Build-Release
/.vs
/Build-Win64
/Debug/huatuo_BackUpThisFolder_ButDontShipItWithYourGame
/Build-Android
/Assets/HuaTuo/Temp.meta
/Assets/HuaTuo/Output
/Assets/HuaTuo/Temp
/Assets/HuaTuo/Output.meta
/Assets/HuaTuo.meta
