/Library
/Logs
/obj
/Build
/Temp
/Build-Release
/.vs
/Build-Win64
/Build-Android
/copydll.bat
/Debug
/.idea/
/update_unity_libil2cpp.bat
/*.csproj
/*.sln
/Build-Win64-2
/Build-Android2
/Build-Android-2020.3.33
/Build-Win64-2020.3.33
/Build-Win64-2021.3.1
/UserSettings/Layouts
/Build-Android-2021.3.1
/Release
/HybridCLRData/
/Release-Win64
/Build-Android64
/Build-AndroidV7
/Assets/HybridCLRBuildCache
/Assets/HybridCLRBuildCache.mate
/Release-Android
/Release-Win32
/Build-WebGL
/Assembly-CSharp-Editor.csproj.user
/Build-AndroidV8
Build-Mac
/Build-iOS
/HybridCLRData
/Packages/com.focus-creative-games.hybridclr_unity
/Assets/StreamingAssets
/UserSettings
